@import 'geral.css';

header.site-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-4);
    box-shadow: var(--color-3B) 0px 8px 24px;
}

nav.site-header__nav {
    display: flex;
    gap: 20px;
}